<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="pageContainer">
        <header id="pageHeader">
            <img src="/logo-bress.png" style="display:block">
        </header>
        <div id="contentContainer" class="clearfix">
            <nav id="pageNav"></nav>

            <article class="sectionArticle">
                <div style="font-size:12px;">
                    Hi {1},
                    <hr>
                    Helaas moeten we de les {2} op {3} cancellen. Kijk in ons rooster voor een alternatieve workout.
                    <hr>
                </div>
            </article>

            <aside id="pageAside">
                <h3>BRESS Sportcentrum</h3>
                <p>
                    Nieuwe Inslag 99<br />
                    4817 GN Breda<br />
            </aside>
        </div>
        <footer id="pageFooter">
            <p>
                T: 076 &#8211; 521 5453<br />
                E: <a href="mailto:info@bress.nl">info@bress.nl</a>
            </p>
        </footer>
    </div>
</body>
</html>